html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    color: seashell;
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}
img {
    opacity: 0.9;
}

/*NAVIGATION BAR*/
header {
    background-color: black;
    height: 69px;
    width: 99%;

    position: fixed;
    top: 0;

    z-index: 1;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-bottom: 1px solid seashell;
}
header a {
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
}
.logo {
    margin-right: auto;
}
header img {
    height: 50px;
    opacity: 0.9;
}

/*SECTION 1*/
#section1 {
    display: flex;
    justify-content: center;
}
.big-image1 {
    display: flex;
    align-items: center;
    background: url(images-and-videos/big-image1.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 700px;
    width: 1200px;
}
.our-mission {
    flex-grow: 1;

    padding: 0;
    margin: 0;
    background-color: black;
}
.our-mission * {
    margin: 15px;
    opacity: 0.9;
}

/*SECTION 2*/
.just-center {
    display: flex;
    justify-content: center;
}
#section2 {
    width: 1000px;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
#section2 h2 {
    flex: 1 1 100%;
    margin: 50px 0 0 0;

    opacity: 0.9;
    font-family: Helvetica, sans-serif;
}
#section2 h4 {
    flex: 1 1 100%;
    margin: 20px; 
    margin-top: 0;

    opacity: 0.9;
    font-family: Helvetica, sans-serif;
}
#section2 div {
    flex: 0 1 30%;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#section2 div img {
    height: 200px;
    width: 300px;
}

/*SECTION 3*/
#section3 {
    background: url(images-and-videos/big-image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px;
}
#section3 h2 {
    flex: 1 1 100%;
    color: seashell;
    opacity: 0.9;
    font-size: 50px;
}
#section3 > div {
    display: inline-flex;
    flex-direction: column;

    width: 300px;
    background-color: black;
    padding: 10px;
}
#section3 p, h3 {
    color: seashell;
    opacity: 0.9;
    font-size: 22;
    font-family: Helvetica, sans-serif;
} 