html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
header {
    background-color: black;
    height: 69px;
    width: 99%;

    position: fixed;
    top: 0;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-bottom: 1px solid seashell;
}
header a {
    color: seashell;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    opacity: 0.9;
}
.logo {
    margin-right: auto;
}
header img {
    height: 50px;
    opacity: 0.9;
}